In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("all_data/returns.xlsx")

In [3]:
df.head()

,Date,AAPL,ABT,AMD,AMZN,AVGO,AXP,BAC,BRK-B,CAT,...,QCOM,RTX,TMO,TMUS,UNH,V,WFC,WMT,XOM,sp_500
0,2009-12-02,-0.003757,-0.000734,0.013889,0.027076,-0.021930,-0.006295,-0.015103,-0.004623,-0.012399,...,0.000000,0.002206,0.003550,0.024615,-0.014286,-0.009040,-0.019292,-0.003287,-0.003288,0.000343
1,2009-12-03,0.001274,-0.003674,0.100000,-0.007592,0.020499,-0.052875,0.007029,-0.013785,-0.012555,...,-0.009543,-0.013060,-0.004994,-0.009009,-0.033934,-0.026636,-0.034972,-0.002382,-0.010556,-0.008402
2,2009-12-04,-0.016084,-0.008481,-0.021171,-0.025430,0.037037,0.011063,0.032995,0.008812,0.001718,...,0.011875,0.015760,0.011711,0.000000,0.004757,0.002999,0.017742,-0.003673,-0.009868,0.005509
3,2009-12-07,-0.022605,-0.002231,0.083970,-0.024495,0.021187,0.002799,-0.023956,-0.001355,-0.012693,...,-0.005978,0.007904,0.005167,0.060606,0.030590,-0.004236,-0.022255,0.012721,-0.006464,-0.002468
4,2009-12-08,0.004869,-0.007827,0.017606,-0.000745,-0.007113,-0.007105,-0.030208,-0.000452,-0.020500,...,-0.006683,-0.009149,-0.012749,-0.018571,0.005653,0.000751,-0.012519,-0.009466,-0.011116,-0.010252

In [4]:
df.columns

Index(['Date', 'AAPL', 'ABT', 'AMD', 'AMZN', 'AVGO', 'AXP', 'BAC', 'BRK-B',
       'CAT', 'COST', 'CRM', 'CSCO', 'CVX', 'DIS', 'GE', 'GOOG', 'GOOGL', 'GS',
       'HD', 'IBM', 'JNJ', 'JPM', 'KO', 'LLY', 'LRCX', 'MA', 'MCD', 'MRK',
       'MS', 'MSFT', 'MU', 'NFLX', 'NVDA', 'ORCL', 'PG', 'PM', 'QCOM', 'RTX',
       'TMO', 'TMUS', 'UNH', 'V', 'WFC', 'WMT', 'XOM', 'sp_500'],
      dtype='object')

In [5]:
df = df.drop('sp_500', axis=1)

In [6]:
df.columns

Index(['Date', 'AAPL', 'ABT', 'AMD', 'AMZN', 'AVGO', 'AXP', 'BAC', 'BRK-B',
       'CAT', 'COST', 'CRM', 'CSCO', 'CVX', 'DIS', 'GE', 'GOOG', 'GOOGL', 'GS',
       'HD', 'IBM', 'JNJ', 'JPM', 'KO', 'LLY', 'LRCX', 'MA', 'MCD', 'MRK',
       'MS', 'MSFT', 'MU', 'NFLX', 'NVDA', 'ORCL', 'PG', 'PM', 'QCOM', 'RTX',
       'TMO', 'TMUS', 'UNH', 'V', 'WFC', 'WMT', 'XOM'],
      dtype='object')

In [7]:
# Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'])
# Filter dates from 01/11/2011
df = df[df['Date'] >= '2011-11-01']

In [8]:
print(len(df.columns))
df.head()

46

,Date,AAPL,ABT,AMD,AMZN,AVGO,AXP,BAC,BRK-B,CAT,...,PM,QCOM,RTX,TMO,TMUS,UNH,V,WFC,WMT,XOM
483,2011-11-01,-0.020431,-0.020606,-0.090909,-0.006604,-0.022801,-0.032200,-0.062958,-0.030054,-0.029960,...,-0.015887,-0.028294,-0.035778,-0.033022,-0.098823,-0.036882,-0.034634,-0.043998,-0.008639,-0.027533
484,2011-11-02,0.002270,0.002275,0.030189,0.016596,-0.012121,0.027148,0.050000,0.026086,0.025210,...,0.016143,0.040686,0.022875,0.023452,0.118799,0.003028,0.016328,0.027586,0.011203,0.018831
485,2011-11-03,0.014242,0.018154,0.049451,0.012383,0.053067,0.027028,0.028274,0.017164,0.021929,...,0.013167,0.075316,0.019894,0.010050,0.049008,-0.003882,0.018361,0.018950,0.009849,0.019258
486,2011-11-04,-0.007021,-0.009472,-0.010471,-0.008292,0.001456,-0.009675,-0.060781,-0.020046,-0.002708,...,-0.008193,0.006951,-0.008159,-0.027662,-0.002224,-0.012992,-0.005795,-0.015885,0.001393,-0.004311
487,2011-11-07,-0.001274,0.005625,0.001764,0.002402,0.005817,0.001368,-0.006163,-0.001813,-0.007729,...,0.004131,0.007434,0.006941,0.013508,-0.008919,-0.008995,0.003454,0.000787,0.007652,0.010570

In [11]:
def bayes_stein_expected_returns(window_returns):
    """
    Calculate Bayes-Stein shrinkage expected returns for a given window.
    
    Parameters:
    -----------
    window_returns : pandas DataFrame or numpy array
        Shape: (42 days, 46 stocks)
        Each row is a day, each column is a stock's daily return
    
    Returns:
    --------
    shrunk_returns : numpy array
        Shape: (46,) - Expected return for each stock for the next day
    """
    
    # Convert to numpy array if DataFrame
    if isinstance(window_returns, pd.DataFrame):
        returns = window_returns.values
    else:
        returns = window_returns
    
    T = returns.shape[0]  # Number of days (42)
    N = returns.shape[1]  # Number of stocks (46)
    
    # STEP 1: Calculate sample mean for each stock (μ̂)
    mu_hat = np.mean(returns, axis=0)  # Shape: (46,)
    
    # STEP 2: Calculate grand mean (μ̄)
    mu_bar = np.mean(mu_hat)  # Single number
    
    # STEP 3: Calculate covariance matrix (Σ)
    cov_matrix = np.cov(returns, rowvar=False)  # Shape: (46, 46)
    
    # STEP 4: Calculate Spread Measure (D)
    # Step 4a: Calculate deviations (μ̂ - μ̄)
    deviations = mu_hat - mu_bar  # Shape: (46,)
    
    # Step 4b: Invert covariance matrix (Σ⁻¹)
    cov_inv = np.linalg.inv(cov_matrix)  # Shape: (46, 46)
    
    # Step 4c: Calculate D = (μ̂ - μ̄)' × Σ⁻¹ × (μ̂ - μ̄)
    D = deviations.T @ cov_inv @ deviations  # Single number
    
    # STEP 5: Calculate shrinkage weight (w)
    w = (N + 2) / ((N + 2) + T * D)  # Single number
    
    # STEP 6: Apply shrinkage to each stock
    # Formula: μᵢ,shrunk = w × μ̄ + (1-w) × μ̂ᵢ
    shrunk_returns = w * mu_bar + (1 - w) * mu_hat  # Shape: (46,)
    
    return shrunk_returns

In [14]:
df = df.sort_values('Date').reset_index(drop=True)

# Parameters
window_size = 42  # Number of trading days in each window
start_date = '2011-11-01'

# Filter data from start_date onwards
df_filtered = df[df['Date'] >= start_date].copy()

# Get return columns (exclude Date)
return_columns = [col for col in df_filtered.columns if col != 'Date']

# Storage for predictions
predictions = []

# Calculate how many windows we can create
total_rows = len(df_filtered)
num_windows = total_rows - window_size

print(f"Total trading days available: {total_rows}")
print(f"Number of windows to create: {num_windows}")
print(f"Window size: {window_size} days\n")

# Create rolling windows
for i in range(num_windows):
    # Define window indices
    window_start_idx = i
    window_end_idx = i + window_size
    
    # Extract window data
    window_data = df_filtered.iloc[window_start_idx:window_end_idx]
    window_returns = window_data[return_columns]
    
    # Get the prediction date (next day after window)
    prediction_date = df_filtered.iloc[window_end_idx]['Date']
    
    # Calculate Bayes-Stein expected returns
    expected_returns = bayes_stein_expected_returns(window_returns)
    
    # Store results
    predictions.append({
        'Window': i + 1,
        'Window_Start': window_data['Date'].iloc[0],
        'Window_End': window_data['Date'].iloc[-1],
        'Prediction_Date': prediction_date,
        'Expected_Returns': expected_returns
    })
    
    # Print progress every 50 windows
    if (i + 1) % 50 == 0:
        print(f"Processed {i + 1} windows...")

# Convert to DataFrame
predictions_df = pd.DataFrame(predictions)

print(f"\nCompleted! Total predictions: {len(predictions_df)}")
print("\nFirst few predictions:")
print(predictions_df[['Window', 'Window_Start', 'Window_End', 'Prediction_Date']].head(10))

Total trading days available: 3497
Number of windows to create: 3455
Window size: 42 days

Processed 50 windows...
Processed 100 windows...
Processed 150 windows...
Processed 200 windows...
Processed 250 windows...
Processed 300 windows...
Processed 350 windows...
Processed 400 windows...
Processed 450 windows...
Processed 500 windows...
Processed 550 windows...
Processed 600 windows...
Processed 650 windows...
Processed 700 windows...
Processed 750 windows...
Processed 800 windows...
Processed 850 windows...
Processed 900 windows...
Processed 950 windows...
Processed 1000 windows...
Processed 1050 windows...
Processed 1100 windows...
Processed 1150 windows...
Processed 1200 windows...
Processed 1250 windows...
Processed 1300 windows...
Processed 1350 windows...
Processed 1400 windows...
Processed 1450 windows...
Processed 1500 windows...
Processed 1550 windows...
Processed 1600 windows...
Processed 1650 windows...
Processed 1700 windows...
Processed 1750 windows...
Processed 1800 windows...
Processed 1850 windows...
Processed 1900 windows...
Processed 1950 windows...
Processed 2000 windows...
Processed 2050 windows...
Processed 2100 windows...
Processed 2150 windows...
Processed 2200 windows...
Processed 2250 windows...
Processed 2300 windows...
Processed 2350 windows...
Processed 2400 windows...
Processed 2450 windows...
Processed 2500 windows...
Processed 2550 windows...
Processed 2600 windows...
Processed 2650 windows...
Processed 2700 windows...
Processed 2750 windows...
Processed 2800 windows...
Processed 2850 windows...
Processed 2900 windows...
Processed 2950 windows...
Processed 3000 windows...
Processed 3050 windows...
Processed 3100 windows...
Processed 3150 windows...
Processed 3200 windows...
Processed 3250 windows...
Processed 3300 windows...
Processed 3350 windows...
Processed 3400 windows...
Processed 3450 windows...

Completed! Total predictions: 3455

First few predictions:
   Window Window_Start Window_End Prediction_Date
0       1   2011-11-01 2011-12-30      2012-01-03
1       2   2011-11-02 2012-01-03      2012-01-04
2       3   2011-11-03 2012-01-04      2012-01-05
3       4   2011-11-04 2012-01-05      2012-01-06
4       5   2011-11-07 2012-01-06      2012-01-09
5       6   2011-11-08 2012-01-09      2012-01-10
6       7   2011-11-09 2012-01-10      2012-01-11
7       8   2011-11-10 2012-01-11      2012-01-12
8       9   2011-11-11 2012-01-12      2012-01-13
9      10   2011-11-14 2012-01-13      2012-01-17

In [15]:
predictions_df

,Window,Window_Start,Window_End,Prediction_Date,Expected_Returns
0,1,2011-11-01,2011-12-30,2012-01-03,"[0.0001269850335179517, 0.001078447456907231, ..."
1,2,2011-11-02,2012-01-03,2012-01-04,"[0.0009796957022045999, 0.0017765485509060746,..."
2,3,2011-11-03,2012-01-04,2012-01-05,"[0.001053608731460037, 0.0016300245653323784, ..."
3,4,2011-11-04,2012-01-05,2012-01-06,"[0.00097884460522035, 0.001143005501944951, -0..."
4,5,2011-11-07,2012-01-06,2012-01-09,"[0.0013949206771159148, 0.0011531279492198127,..."
...,...,...,...,...,...
3450,3451,2025-07-24,2025-09-22,2025-09-23,"[0.004450204755854363, 0.0020168226833780375, ..."
3451,3452,2025-07-25,2025-09-23,2025-09-24,"[0.004340154120327036, 0.001925555410153533, 0..."
3452,3453,2025-07-28,2025-09-24,2025-09-25,"[0.004128398130065307, 0.0014045752432749964, ..."
3453,3454,2025-07-29,2025-09-25,2025-09-26,"[0.00453978197042199, 0.00133718420209426, -0...."
3454,3455,2025-07-30,2025-09-26,2025-09-29,"[0.0047183186057880655, 0.001067239849562001, ..."

In [16]:
# Create expected_returns DataFrame
expected_returns = pd.DataFrame()

# Add the Prediction_Date as the Date column
expected_returns['Date'] = predictions_df['Prediction_Date']

# Add each stock's expected returns as separate columns
for i, stock in enumerate(return_columns):
    expected_returns[stock] = predictions_df['Expected_Returns'].apply(lambda x: x[i])

# Reset index
expected_returns = expected_returns.reset_index(drop=True)
print("Expected Returns DataFrame:")
expected_returns.head()

Expected Returns DataFrame:

,Date,AAPL,ABT,AMD,AMZN,AVGO,AXP,BAC,BRK-B,CAT,...,PM,QCOM,RTX,TMO,TMUS,UNH,V,WFC,WMT,XOM
0,2012-01-03,0.000127,0.001078,-0.001161,-0.004720,-0.003342,-0.001480,-0.004291,-0.000344,-0.000678,...,0.003079,0.001708,-0.001222,-0.002482,0.001296,0.001532,0.002230,0.001901,0.001446,0.002213
1,2012-01-04,0.000980,0.001777,0.001357,-0.003747,-0.002725,-0.000097,-0.001765,0.000802,0.000924,...,0.003491,0.002630,0.000141,-0.000674,0.005597,0.002791,0.003397,0.003700,0.001878,0.003217
2,2012-01-05,0.001054,0.001630,0.000551,-0.004344,-0.002848,-0.000729,-0.002914,-0.000088,0.000544,...,0.003064,0.001902,-0.000279,-0.001715,0.001247,0.003066,0.002583,0.003152,0.001367,0.002774
3,2012-01-06,0.000979,0.001143,-0.000626,-0.004626,-0.004078,-0.001096,-0.001538,-0.000457,0.000190,...,0.002677,0.000207,-0.000981,-0.001752,-0.002033,0.003318,0.002325,0.003084,0.001017,0.002244
4,2012-01-09,0.001395,0.001153,-0.000508,-0.003758,-0.004263,-0.001124,-0.000582,-0.000147,0.000314,...,0.002528,0.000084,-0.000925,-0.000435,-0.001950,0.003713,0.002183,0.003397,0.000815,0.002169

In [17]:
print(f"\nShape: {expected_returns.shape}")
print(f"Columns: {expected_returns.columns.tolist()}")

Shape: (3455, 46)
Columns: ['Date', 'AAPL', 'ABT', 'AMD', 'AMZN', 'AVGO', 'AXP', 'BAC', 'BRK-B', 'CAT', 'COST', 'CRM', 'CSCO', 'CVX', 'DIS', 'GE', 'GOOG', 'GOOGL', 'GS', 'HD', 'IBM', 'JNJ', 'JPM', 'KO', 'LLY', 'LRCX', 'MA', 'MCD', 'MRK', 'MS', 'MSFT', 'MU', 'NFLX', 'NVDA', 'ORCL', 'PG', 'PM', 'QCOM', 'RTX', 'TMO', 'TMUS', 'UNH', 'V', 'WFC', 'WMT', 'XOM']

In [ ]:
expected_returns.to_excel('all_data/Bayes_stein_returns.xlsx', index=False)